<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home - Home Page | iCarusDev - iOS Developments</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
  <script type="text/javascript" src="js/jquery-1.4.2.min.js" ></script>
  <script type="text/javascript" src="js/cufon-yui.js"></script>
  <script type="text/javascript" src="js/Humanst521_BT_400.font.js"></script>
  <script type="text/javascript" src="js/Humanst521_Lt_BT_400.font.js"></script>
	<script type="text/javascript" src="js/roundabout.js"></script>
  <script type="text/javascript" src="js/roundabout_shapes.js"></script>
  <script type="text/javascript" src="js/gallery_init.js"></script>
  <script type="text/javascript" src="js/cufon-replace.js"></script>
  <!--[if lt IE 7]>
  	<link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="all">
  <![endif]-->
  <!--[if lt IE 9]>
  	<script type="text/javascript" src="js/html5.js"></script>
    <script type="text/javascript" src="js/IE9.js"></script>
  <![endif]-->
</head>

<body>
  <!-- header -->
  <header>
    <div class="container">
    	<h1><a href="/">iCarusDev</a></h1>
      <nav>
        <ul>
        	<li><a href="/" class="current">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="privacy">Privacy</a></li>
          <li><a href="gallery">Gallery</a></li>
          <li><a href="contacts">Contact</a></li>
          <li><a href="sitemap">Sitemap</a></li>
        </ul>
      </nav>
    </div>
	</header>
  <!-- #gallery -->
  <section id="gallery">
  	<div class="container">
    	<ul id="myRoundabout">
        {% for i in list_of_portfolio %}
            <li><img src="images/portfolio/portfolio_{{ i }}.jpg" alt=""></li>
        {% endfor %}
      </ul>
  	</div>
  </section>
  <!-- /#gallery -->
  <div class="main-box">
    <div class="container">
      <div class="inside">
        <div class="wrapper">
        	<!-- aside -->
          <aside>
            <h2>Recent <span>News</span></h2>
            <!-- .news -->
            <ul class="news">
            {%for news in lista_de_news %}
            	<li>
              	<figure><strong>{{ news.number }}</strong>{{ news.month }}</figure>
                <h3><a href="{{ news.link }}">{{ news.title_link }}</a></h3>
                {{ news.desc }}<a href="{{ news.link }}">...</a>
              </li>
            {% endfor %}
            </ul>
            <!-- /.news -->
          </aside>
          <!-- content -->
          <section id="content">
            <article>
            	<h2>Welcome to <span>iCarusDev!</span></h2>
              <p>iCarusDev is a company dedicated to iOS developments.</p>
              <figure><a href="#"><img src="images/banner1.jpg" alt=""></a></figure>
            </article> 
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <footer>
    <div class="container">
    	<div class="wrapper">
        <div class="fleft">Copyright - iCarusDev</div>
        <div class="fright"><a href="http://www.templatemonster.com/" target="_blank">Website template</a> designed by TemplateMonster.com&nbsp; &nbsp; |&nbsp; &nbsp; <a href="http://templates.com/product/3d-models/" target="_blank">3D Models</a> provided by Templates.com</div>
      </div>
    </div>
  </footer>
  <script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
