{% extends "base.html" %}
{% block title %} About - About Page | iCarusDev - iOS Developments {% endblock %}
{% block body %}
  <div class="main-box">
    <div class="container">
      <div class="inside">
        <div class="wrapper">
        	<!-- aside -->
          <aside>
            <h2>About <span>Our Works</span></h2>
            <div class="img-box">
            	<figure><img src="images/img1.jpg" alt=""></figure>
              Let them talk!
            </div>
            <p>
            iCarus is an agile mobile and web development firm specializing in building products in educational technology, social media and others things. We focus on design, quality, performance and client satisfaction. 
            The team consists of engineers who are passionate about mobile development. 
            iCarus is headquartered in Rosario,SF, Argentina.
            We've started as a group of friends doing freelance jobs, and now we are a company such other but with a target in mind: Innovate being profitable to other companies.
            </p> 
          </aside>
          <!-- content -->
          <section id="content">
            <article>
            	<h2>About <span>Our Team</span></h2>
              <!-- .team-list -->
              <ul class="team-list">
              	<li>
                	<figure><img src="images/img2.jpg" alt=""></figure>
                  <h3><a href="#">Santiago - iOS Architect</a></h3>
                  He is the most important member of our team. Usually this is the person who started the company. Maybe it is worth to write why he has made such a decision and what has inspired him <a href="#">...</a>
                </li>
                <li>
                	<figure><img src="images/img3.jpg" alt=""></figure>
                  <h3><a href="#">Pablo - iOS Dev Sr.</a></h3>
                  We are completly lost on what he's responsible for, but we hope that you know it. We also hope that you will tell it to the rest of the world including us by placing some real text here <a href="#">...</a>
                </li>
                <li>
                	<figure><img src="images/img4.jpg" alt=""></figure>
                  <h3><a href="#">Fernando - iOS Dev Sr.</a></h3>
                  He's already lost. He doesn't has cure<a href="#">...</a>
                </li>
              </ul>
              <!-- /.team-list -->
            </article> 
          </section>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
